<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Diabetes ATLAS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap & CSS Links -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="style.css">

</head>

<body>
  <!-- Nav -->
  <div class="navigation">
    <nav class="navbar navbar-expand-lg navbar-light">
      <!-- <a class="navbar-brand" style="background-color: #094414;" href="index.html">Latitude</a> -->
      <button class="navbar-toggler border border-white" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Plots
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="temperatue.html">Max Temperature</a>
              <a class="dropdown-item" href="humidity.html">Humidity</a>
              <a class="dropdown-item" href="cloudiness.html">Cloudiness</a>
              <a class="dropdown-item" href="windspeed.html">Wind Speed</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="comparison.html">Comparison</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="data.html">Data</a>
          </li>
          
          <!-- <th class="ct-topic" colspan="5">Diabetes estimates (20-79 y)</th> -->
        </ul>
      </div>
    </nav>
  </div>
  <!-- Content -->
  <div class="container">
    <div class="box">
      <h3 class="title">Diabetes Atlas</h3>
      <h2>Global Diabetes report 2010-2045</h2>
      <hr>
      <!-- <p>The following table includes all of the data used for plotting during this project.</p> -->
      <br>
      <div class="table-responsive" style="overflow-x:auto; overflow-y:auto; max-height:470px; max-width: auto;">
        <table class="table table-striped">
          <thead>
            <tr>
              <th title="Field #1">At a glance</th>
              <th title="Field #2">2010</th>
              <th title="Field #3">2019</th>
              <th title="Field #4">2030</th>
              <th title="Field #5">2045</th>
              
            </tr>
          </thead>
          <tbody>
            <tr>
              <!-- <td align="left"></td> -->
              <th class="ct-topic" colspan="5">Diabetes estimates (20-79 y)</th>

              
            </tr>
            <tr>
              <!-- <td align="right">1</td> -->
              <td>People with diabetes, in , 1000s</td>
              <td>285.0</td>
              <td>463.0</td>
              <td>578.4</td>
              <td>700.2</td>
              
            </tr>
            <tr>
              
              <td>Age-adjusted comparative prevalence of diabetes, %</td>
              <td>6.4</td>
              <td>8.3</td>
              <td>9.2</td>
              <td>9.6</td>
              
            </tr>
            <tr>
              
              <td>People with undiagnosed diabetes, in 1,000s</td>
              <td> - </td>
              <td class="text-center">N/A</td>
              <td> - </td>
              <td> - </td>
              
            </tr>
            <tr>
              
              <td>Proportion of people with undiagnosed diabetes, %</td>
              <td>-</td>
              <td>50.1</td>
              <td> - </td>
              <td> - </td>
              
            </tr>
            <tr>
                <th class="ct-topic" colspan="5">Impaired glucose tolerance (IGT) estimates  (20-79 y)</th>
                </tr>
                <tr>
                <td>People with IGT, in 1,000s</td>
                <td>343.5 million</td>
                <td>373.9 million</td>
                <td>453.8 million</td>
                <td>548.4 million</td>
                </tr>
            <tr>
                <td>Age-adjusted comparative prevalence of IGT, %</td>
                <td>7.8</td>
                <td>8.6</td>
                <td>9.2</td>
                 <td>9.5</td>
            </tr>
              <tr>
            <th class="ct-topic" colspan="5">Mortality attributable to diabetes (20-79 y)</th>
            </tr>
            <tr>
            <td>Deaths attributable to diabetes</td>
              <td>4.0</td>
              <td>4.2</td>
              <td> - </td>
              <td> - </td>
            </tr>
            <tr>
                <th>Proportion of diabetes-related deaths in people under 60 y, %</th>
                </tr>
                <td>-</td>
                <td>46.2</td>
                <td> - </td>
              <td> - </td>
            </tr>
            <tr>
                <th class="ct-topic" colspan="5">Type 1 diabetes estimates in children and adolescents</th>
            </tr>
            <tr>
                <td>New cases of type 1 diabetes (0-14 y), in 1,000s</td>
                    <td>75,800.0</td>
                    <td>98,200.0</td>
                    <td> - </td>
                    <td> - </td>
                    
            </tr>
            <tr>
                <td>New cases of type 1 diabetes (0-19 y), in 1,000s</td>
                <td> - </td>
                <td>128,900.0</td>
                <td> - </td>
                <td> - </td>
            </tr>
            <tr>
                <td>Type 1 diabetes (0-14 y), in 1,000s</td>
                <td>479,600.0</td>
                <td>600,900.0</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Type 1 diabetes (0-19 y), in 1,000s</td>
                <td>-</td>
                <td>1,110,100.0</td>
                <td>-</td>
                <td>-</td>

            </tr>
            <tr>
                <th class="ct-topic" colspan="5">Hyperglycaemia in pregnancy (HIP) (20-49 y)</th>
            </tr>
                <tr>
                    <td>Live births affected by HIP</td>
                    <td>-</td>
                    <td>20.4</td>
                    <td>18.3</td>
                    <td>18.0</td>
                </tr>
                <tr>
                    <td>Prevalence of gestational diabetes mellitus (GDM), %</td>
                    <td>-</td>
                    <td>14.4</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Live births affected by other types of diabetes first detected in pregnancy</td>
                    <td>-</td>
                    <td>1,894,026.3</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Live births affected by other types of diabetes detected prior to pregnancy</td>
                    <td>-</td>
                    <td>1,770,966.3</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th class="ct-topic" colspan="5">Diabetes-related health expenditure</th>
                </tr>
                <tr>
                    <td>Total diabetes-related health expenditure, USD million</td>
                    <td>376.0 billion</td>
                    <td>760.3 billion</td>
                    <td>824.7 billion</td>
                    <td>845.0 billion</td>
                </tr>
                <tr>
                    <td>Total diabetes-related health expenditure, ID million</td>
                    <td>418.0 billion</td>
                    <td>1,123.0 billion</td>
                    <td>1,254.0 billion</td>
                    <td>1,308.0 billion</td>
                </tr>
                <tr>
                    <td>Mean diabetes-related health expenditure per person, USD</td>
                    <td>703.0</td>
                    <td>1,673.1</td>
                    <td class="text-center">-</td>
                    <td class="text-center">-</td>
                </tr>
                <tr>
                    <td>Mean diabetes-related health expenditure per person, ID</td>
                    <td>878.1</td>
                    <td>2,480.5</td>
                    <td class="text-center">-</td>
                    <td class="text-center">-</td>
                </tr>
                <tr>
                    <th class="ct-topic" colspan="5">Demographics</th>
                </tr>
                <tr>
                    <td>Total adult population (20-79 y), in 1,000s</td>
                    <td>4.3 billion</td>
                    <td>5.0 billion</td>
                    <td>5.7 billion</td>
                    <td>6.4 billion</td>
                </tr>
                <tr>
                    <td>Population of children (0-14 y), in 1,000s</td>
                    <td>-</td>
                    <td>2.0 billion</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Population of children and adolescents (0-19 y), in 1,000s</td>
                    <td>-</td>
                    <td>2.6 billion</td>
                    <td>-</td>
                    <td>-</td>
                </tr>

             
            <tr>
              
              </tr>
              </body>
            </table>
            </html


