<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Diabetes ATLAS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap & CSS Links -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="style.css">
  <style>
      .text-wrapper {  
	float: left; 
	width: 50%; 
} 
.text-wrapper img { 
	width: 75%; 
} 
.text-wrapper p { 
	text-align: center; 
} 
/* @media (max-width: 767px) { 
	.text-wrapper { 
		float: none; 
		width: 50%;  */
	

  </style>

</head>

<body>

   

    <h1 align = "center">Scatter Matrix for Diabetic vs Non-Diabetic</h1>
 
<p>
  For probablistic analysis of the data, a simple approach might be just to use the top correlated variables and investigate them further. In this case we have used Glucose, BMI and Age.
  We are not using pregnancies because we don't want to pay attention to gender.
</p>
    <!-- <img src="images/figure_2.png"  height= 1000px class="vizualization rounded float-left" alt="Global "> -->
    <div class="text-wrapper" >
        <h1 style="font-size:25px;">Non-Diabetic Patients</h1>
    <img src="../images/non-diabetic.png" alt="Correlation" style="border:5px solid rgb(62, 12, 201)" alt = "diabetic">
    <p>
    The figure shows pair-plot of non-diabetic patients. The age factor is being a bit problematic
    and not showing the desired results. However, we can preprocess and perform some transformations.
       
    </p>
    
 </div>
 <div class="text-wrapper">
    <h1 style="font-size:25px;">Diabetic Patients</h1>
    <img src="../images/diabetic.png" alt="Correlation"  style="border:5px solid rgb(62, 12, 201)" alt= "diab">
    <p>
        This figure shows pair-plot of diabetic patients. It is showing the proper build shape for the age factor. If we ignore the correlations,
         we can visualize that diabetic individuals have higher glucose levels and BMI than non-diabetic indiviaduls.
    </p>
    </div>
</body>

    </html>