<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Diabetes ATLAS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap & CSS Links -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->

</head>

<body>

  <div class="container">

    <h1 align = "center"  >Correlation Heat Map</h1>
 
<p style="text-align:left">
 <h5 > What is a correlation heatmap?</h5>
A correlation heatmap uses colored cells, typically in a monochromatic scale, to show a 2D correlation matrix 
(table) between two discrete dimensions or event types.
Correlation heatmaps are ideal for comparing the measurement for each pair of dimension values.
<br>
</br>

<h5>How do you interpret a heatmap correlation?</h5>
Correlation ranges from -1 to +1. Values closer to zero means there is no linear trend between the two variables. The values closer to 1 indicate positive correlation between the variables.

  </p>
  <img src="../images/figure_2.png" alt="Correlation" height = 800px  class="vizualization rounded float-left" a>
  <div class = "text-col">
    <br>
  </br>
  <br>
</br>


    <p >For analysis we will be using variables that are correlated with the outcome variable.
  This correlation plot is similar to a symmetric matrix but it immediately allows us to point out the most correlated and anti-correlated atributes.
  Some might just be a commom sense like Pregnancy vs Age but other might gives us real insight into the data. 
  <br>
    </br>
    </p>
  <p>It allows us to see what we need to investigate and which varaibles we can focus on if we do not have the time and resources to investigate every possible column.
    <br>
  </br>
   The bright color(yellow) indicates high values for my correlation and the dark values(dark-purple) indicate low values for my correlation.
</p>
    <!-- <img src="images/figure_2.png"  height= 1000px class="vizualization rounded float-left" alt="Global "> -->
   
    </div>
  </div>
    </body>
    </html>